extends ../layout



block content
	div.articles
		form(method='get',action='')
			div.article_add
				label 发布新文章
			div.article_add
				label 标题:
				input(type='text',name='title',class='input_text')
				span
			div.article_add
				label 分类:
				ul.arcticle_types.clearfix
					each val in #{types}
						li
							input(type='radio',name='type',value= val.gid)= val.value
				span
			div.article_add
				textarea(name='content',id='ke_content')
				span
				script.
					KindEditor.ready(function(K) { K.create('#ke_content', {uploadJson : '/article/upload'});});
				input(type='hidden',name='author',value='#{author}')
				span.article_submit 提交
			


block aside
	include ../aside

		
block sidebar
	include ../sidebar