extends ../layout

block scripts
	script(src='/js/kindeditor/kindeditor.js')


block content
	div.articles
		form(method='post',action='/article/add')
			div.article_add
				label 发布新文章
			div.article_add
				label 标题:
				input(type='text',name='title',class='input_text')
				span
			div.article_add
				label 分类:
				ul.arcticle_types.clearfix
					- var types = settings.types
					each val in types
						li
							input(type='radio',name='type',value= val.tid)
							em= val.value
				span
			div.article_add
				textarea(name='content',id='ke_content')
				span
				script.
					KindEditor.ready(function(K) { K.create('#ke_content', {uploadJson : '/article/upload'});});
				input(type='submit',value='提交')
				span.article_submit 提交
			
  

block aside
	//include ../aside

		
block sidebar
	//include ../sidebar