extends ../layout


block content
	div.content.editContent
		form(action='/users/edit/password',method='post')
			ul.login
				li
					strong 修改密码
				li
					label 旧密码:
					input( type='password',class='text_input',name='oldpassword' )
				li
					label 新密码:
					input( type='password',class='text_input',name='password' )
				li
					label 确认密码:
					input( type='password',class='text_input',name='repassword' )
				li
					label
					input(type='submit',value='确定')
		
		