extends ../layout


block content
	div.content.editContent
		form(action='/users/edit/icon',method='post',enctype='multipart/form-data')
			ul.login
				li
					label 头像:
					img(src='#{icon}')
				li
					label 新头像:
					input(type='file',name='icon')
				li
					label
					input(type='submit',value='确定')
		
		