extends ../layout


block content
	div.articles
		div.login
			form(method='post',action='')
				div.article_add
					label 登录
				div.article_add
					label 用户名:
					input(type='text',name='username',class='input_short_text')
					span
				div.article_add
					label 密码:
					input(type='password',name='password',class='input_short_text')
					span
				div.article_add
					span.article_submit 登录
					span
					