extends ../layout


block content
	div.articles
		div.login
			form(method='post',action='')
				div.article_add
					label 注册
				div.article_add
					label 用户名:
					input(type='text',name='username',class='input_short_text')
					span
				div.article_add
					label Email:
					input(type='text',name='username',class='input_short_text')
					span
				div.article_add
					label 密码:
					input(type='password',name='password',class='input_short_text')
					span
				div.article_add
					label 确认密码:
					input(type='password',name='repassword',class='input_short_text')
					span
				div.article_add
					label 头像:
					i
					input(type='hidden',name='icon')
					flash flash代码处
					span
				div.article_add
					span.article_submit 注册
					span
					